.contenedor {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: lightgray;
}
.caja {
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
.absoluta {
    position: absolute;
    top: 150px;
    left: 150px;
    background-color: red;
}
.fija {
    position: fixed;
    top: 300px;
    right: 930px;
    background-color: blue;
}
.pegajosa {
    position: sticky;
    top: 20px;
    background-color: green;
}